body {
  background-color: #c996cc;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  color: #1c0c5b;
  border-style: dotted;
  border-color: blue;
}
.p-1 {
  color: #3d2c8d;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 320px;
  width: 300px;
}
